<footer class="site-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-copy">© 2025 NASMA International FZCO. All Rights Reserved.</div>
    </div>
    
      <div class="requisites">
        <a href="./data-sovereignty-protocol.html">Data Sovereignty Protocol</a> | <a href="./access-agreement.html">Access Agreement</a>
      </div>
      <div class = "requisites">
        Dubai, UAE | <a href="mailto:info@nasma-intl.com">info@nasma-intl.com</a>
      </div>
   
  </div>
</footer>
