<footer class="site-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-copy">© <span id="year"></span> NASMA INTERNATIONAL – FZCO. All rights reserved.</div>
    </div>

    <div class="requisites">
      <ul>
        <li>© 2025 NASMA International FZCO. All Rights Reserved.</li>
        <li><a href="">Data Sovereignty Protocol </a> | <a href="">Access Agreement</a></li>
        <li> Dubai, UAE |<a href="mailto:info@nasma-intl.com">info@nasma-intl.com</a></li>
      </ul>
    </div>
  </div>
</footer>
